<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="LandPropertiesDBEntities" connectionString="metadata=res://*/DataModel.LandPropertiesModel.csdl|res://*/DataModel.LandPropertiesModel.ssdl|res://*/DataModel.LandPropertiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ILIAN-PC\SQLSERVER2014;initial catalog=LandPropertiesDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="LandPropertyRepository" value="LandProperties.Repositories.LandPropertyRepository,LandProperties.Repositories" />
    <add key="OwnersRepository" value="LandProperties.Repositories.OwnersRepository,LandProperties.Repositories" />
    <add key="MortgageRepository" value="LandProperties.Repositories.MortgageRepository,LandProperties.Repositories" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="LandProperties.Services.LandPropertyService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="HttpBinding"
          contract="LandProperties.Services.ILandPropertyService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
      <service name="LandProperties.Services.OwnerService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="HttpBinding"
          contract="LandProperties.Services.IOwnerService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    <service name="LandProperties.Services.MortgageService">
        <endpoint binding="basicHttpBinding" bindingConfiguration="HttpBinding"
          contract="LandProperties.Services.IMortgageService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mex" contract="IMetadataExchange">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBinding" maxBufferPoolSize="1000000000" maxBufferSize="1000000000" maxReceivedMessageSize="1000000000" allowCookies="true">
          <security mode="None" />
          <readerQuotas maxDepth="100" maxStringContentLength="1000000000" maxArrayLength="1000000000" maxBytesPerRead="1000000000" maxNameTableCharCount="1000000000" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
